{{ if .Site.Params.projects.enable | default false }}
{{- $projects := .Site.Language.Params.projects | default .Site.Params.projects -}}
{{- $items := $projects.items | default .Site.Params.projects.items -}}
{{- $pages := where .Site.RegularPages "Type" "projects" -}}

{{- $workItems := where $items "category" "ne" "personal" -}}
{{- $personalItems := where $items "category" "eq" "personal" -}}
{{- $workPages := where $pages "Params.category" "ne" "personal" -}}
{{- $personalPages := where $pages "Params.category" "eq" "personal" -}}

<section id="projects" class="py-5">
    <div class="container">

        {{ if or (gt (len $workItems) 0) (gt (len $workPages) 0) }}
        <h3 class="text-center">{{ $projects.workTitle | default .Site.Params.projects.workTitle | default "Work Projects" }}</h3>
        <div class="row justify-content-center px-3 px-md-5 mb-5">
            {{ range $workItems }}
            {{ partial "sections/project-card.html" . }}
            {{ end }}
            {{ range $workPages }}
            {{ if .Params.showInHome | default true }}
            {{ $card := dict "title" (.Title | truncate 50) "image" .Params.image "badges" .Params.badges "content" (.Summary | truncate 100 | safeHTML) "links" .Params.links "knowMoreURL" .RelPermalink }}
            {{ partial "sections/project-card.html" $card }}
            {{ end }}
            {{ end }}
        </div>
        {{ end }}

        {{ if or (gt (len $personalItems) 0) (gt (len $personalPages) 0) }}
        <h3 class="text-center">{{ $projects.personalTitle | default .Site.Params.projects.personalTitle | default "Personal Projects" }}</h3>
        <div class="row justify-content-center px-3 px-md-5">
            {{ range $personalItems }}
            {{ partial "sections/project-card.html" . }}
            {{ end }}
            {{ range $personalPages }}
            {{ if .Params.showInHome | default true }}
            {{ $card := dict "title" (.Title | truncate 50) "image" .Params.image "badges" .Params.badges "content" (.Summary | truncate 100 | safeHTML) "links" .Params.links "knowMoreURL" .RelPermalink }}
            {{ partial "sections/project-card.html" $card }}
            {{ end }}
            {{ end }}
        </div>
        {{ end }}

    </div>
</section>
{{ end }}
